@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@{ 
    Exception ex = (Exception)ViewData["Exception"];
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>@ex.Message</p>
<p>@ex.StackTrace</p>


